@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');

div {  
    border-top-style: dotted;  
    border-right-style: solid;  
    border-bottom-style: dotted;  
    border-left-style: solid;
    border-radius: 15px;
    
    word-wrap: break-word; 
    white-space: pre-wrap; 
    margin-left: 25%; 
    margin-right: 25%; 
    margin-bottom: 15px;
    padding: 15px;
    
    font-family: Fira-Mono;
}